
.nav-link2{
  color: #fff;
  background-color: black;
  border: 0px;
  text-align: right;
  font-size: 20px;
  padding-right:.5rem;
  padding-left:.5rem;
  transition: color 0.25s ease-in-out;
}
.container-img img{
  max-width: 375px;
  max-height: 375px;
  resize: both;
}

.container-img2 img{
  max-width: 350px;
  max-height: 350px;
  resize: both;
}

.photo-container img{
  max-width: 100%;
  max-height: 100%;
  resize: both;
}

.container-sponsor img{
  width: 360px;
  height: 150px;
  resize: both;
}

.nav-link3{
  color: black;
  text-decoration: none;
}

.nav-link4{
  color: #fff;
  background-color: black;
  border: 0px;
  text-align: right;
  font-size: 20px;
  padding-right:.5rem;
  padding-left:.5rem;
  transition: color 0.25s ease-in-out;
  text-decoration: underline;
}

.nav-link3:hover{
  color: inherit;
  text-decoration: underline;
}

.container{
  font-size: 18px;
}
.dropdown-menu{
  background-color: black;
}
.dropdown-item{
  color: #fff;
  background-color: black;
  transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.dropdown-item:hover{
  background-color: black;
  color:#002b93;
}

.nav-link2:hover{

  color:#002b93;
  text-decoration: none;
}

.nav-link4:hover{

  color:#002b93;
  text-decoration: underline;
}

.cover{
  margin-top: -25px;
  left: auto;
  width: 100%;
  max-height: 800px;
}
